* {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: #CCC;
}

body {
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}